<!-- navBar Section -->

<nav>
  <div class="container main-nav flex">
    <a href="#" class="company-logo">
      <img src="./assets/assest 2.PNG" alt="company logo">
    </a>
    <div class="nav-links" id="nav-links">
      <ul class="flex">
        <li><a href="#" class="hover-link"> </a> <span class="question_mark tooltip">&#63; <span class="tooltiptext"> Help text</span> </span></li>
        <li><a href="#" class="hover-link secondary-button"> List Your Business</a></li>
        <li><a href="#" class="hover-link primary-button">Sign In / Up</a></li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div class="container header-section flex">
    <div class="header-left">
      <h1 class="header-lefth1"> Find the</h1>
      <h1> Perfect Solution</h1>
      <p> On-call or face-to-face</p>
      <p> Choose from <span class="span_class">50k &nbsp; Business </span></p>
      <form>
        <i class="fa-solid fa-suitcase-medical suitcase"></i>
        <input class="input_box" placeholder=" What do you want to get ?" id="dynamic_placeholder" data-ph ="What do you want to get ?" />
        <button class="find_button">Find Solution</button>
      </form>
    </div>
    <div class="header-right flex">
      <img src="./assets/assest 1.PNG" class="header_right1" alt="New Logo">
      <img src="./assets/assest 5.PNG" class="header_right2" alt="New Logo">
      <img src="./assets/assest 6.PNG" class="header_right3" alt="New Logo">
    </div>
  </div>
</header>

<section class="companies-section">
  <div class="container2">
    <div>
      <h1 class="companies-header"> Dummy Heading</h1>
      <p class="companies-header"> On-call or face-to-face On-call or face-to-face On-call or face-to-face </p>
      <p class="companies-header"> on-call or face-to-face On-call or face-to-face </p>
    </div>
    <div class="logos flex">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
    </div>
    <div class="logos flex">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
    </div>
    <div class="logos flex">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
      <img class="logo" src="./assets/assest 7.PNG" alt="">
    </div>
  </div>
</section>


<section class="big-features-section">
  <h1 class="container recommend_header"> Latest Recommendation</h1>
  <div class="container flex big-features-container">
      <div class="feature-img">
          <img src="./assets/assest 8.PNG" alt="">
      </div>
      <div class="feature-disc">
        <img src="./assets/assest 9.PNG" alt="">
      </div>
  </div>
</section>

<section class="big-features-section">
  <h1 class="container recommend_header"> Latest Business Add</h1>
  <div class="container flex big-features-container">
      <div class="feature-img">
          <img src="./assets/assest 10.PNG" alt="">
      </div>
      <div class="feature-disc">
        <img src="./assets/assest 10.PNG" alt="">
      </div>
  </div>
</section>

<section class="big-features-section">
  <h1 class="container recommend_header"> Latest Review</h1>
  <div class="container flex big-features-container">
      <div class="feature-img">
          <img src="./assets/assest 11.PNG" alt="">
      </div>
      <div class="feature-disc">
        <img src="./assets/assest 11.PNG" alt="">
      </div>
  </div>
</section>

<footer>
  <div class="container flex footer-container">
     Footer
  </div>
</footer>